@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-dark-gray1: #1F1F1F;
    --color-dark-gray2: #474747; 
    --color-dark-gray3: #666666;
    --color-light-gray1: #8F8F8F;
    --color-light-gray2: #CCCCCC;
    --color-light-gray3: #F5F5F5;
    --color-white: #fff;
    --color-primary: #C92071;
    --color-secondary: #B5B6F2;
    --color-tertiary: #991956;
    --color-error: #EE4266;
    --color-success: #52CA76;
    --color-warning: #F6AA1C;
    --color-primary-gradient: 90deg, #C92071, #EDABCA;
    --color-secondary-gradient: 90deg, #B5B6F2, #EFEFFF;
}

* {
    font-family: "Inter", sans-serif;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}